.container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1em;
}

.product {
  background-image: url("https://www.cstatic-images.com/car-pictures/xl/USC10TSC011A0101.png");
  pointer-events: none;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
  height: 300px;
  width: 500px;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.25em;
  margin-left: 0.25em;
}
