.cartpage {
  width : 60%;
  margin : auto;
  padding : 3rem;
  &__header{
    text-align: center;
    margin : 3rem 0;
  }
  &__button{
    align-items: left;
  }
}
.checkboxCGV{
  margin : 3rem 0;
}

.padding-top {
  padding-top: 3rem;
}

.ui.secondary.pointing.menu {
  border-bottom: none;
}

.ui.secondary.pointing.menu .active.item {
  border-color: white;
}

.ui.secondary.menu .active.item {
background: none;
}
