.modal_pay {
    width: 40%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    align-content: center;
    border: 1.5px solid black;
    padding : 3px;
    align-items: center;
    justify-content: center;
}
