.modal-payement {
    padding: 3rem;
    h2 {
        margin-bottom: 2rem;
    }
    button {
        margin-top: 2rem;
        margin: 2rem auto 0;
    }
}

.ui.mini.modal {
    width: 580px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}